.panel{
    margin-bottom: 20px;
    background-color: $light-grey;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0;

    .panel-heading{
        color: $paper;
        font-size: 0.8rem;
    }
}

.panel-report {

    .panel-heading {
        background-color: $grey;
    }
}

.panel-process {

    .panel-heading {
        background-color: $primary-blue;
    }

    .panel-body{
        padding:0;
    }
}
